<fieldset>
        <legend>Edit Item</legend>
        <!-- TITLE -->
        <div class='form-group'>
            <label for='item_name'>Name</label><br>
            <input class='form-control' id='item_name' type='text' name='name' value='{{ item.name }}'/>
        </div>

        <!--DISPLAY NAME-->
        <div class='form-group'>
            <label for='display_name'>Display name</label><br>
            <input class='form-control' id='display_name' type='text' name='display_name' value='{{ item.display_name }}'/>
        </div>
    
        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='price'>Price</label><br>
            <input class='form-control' id='price' type='text' name='price' value='{{ item.price }}' />
        </div>

        <!--IN STOCK-->
        <div class='form-group'>
            <label for='in_stock'>In stock</label><br>
            <input class='form-control' id='in_stock' type='text' name='in_stock' value='{{ item.in_stock }}' />
        </div>
    
        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='item_images'>Images</label><br/>
            <textarea class='form-control' id='item_images' name='images' rows='10' />{{ "\n".join(item.images) }}</textarea>
        </div>
    </fieldset>