<nav class='navbar navbar-default'>
    <div class='d-flex flex-column justify-content-center align-items-center' style="width:100%">
        <div class='navbar-header p-2'>
            <a class='navbar-brand' href='/'>
                <h2>Store</h2>
            </a>
        </div>
        <div class='navbar-search p-2'>
            <form class='navbar-search' action='/items' method="POST">
                <input name="searchbar" type="text" id="searchbar" placeholder="search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>