{% extends 'base.html' %}

{% block content %}
<a href="/items/new"> <h3>New Item</h3></a> 
<br />&nbsp;<br />
<div class = "row">  
    {% for item in items %}
        <div class = "card" style="margin-bottom:5vh; width: 30%;">
            <div class="images" style="display:flex; justify-content: center">
                <img style="height: 20vh"  src="{{ item.images[0] }}">
            </div>
            <h2><a href='/items/{{ item._id }}'>{{ item.display_name }}</a></h2>
            <small style="align-self: right">${{ item.price }}</small>
        </div>
    {% endfor %}
</div>

{% endblock %}