{% extends 'base.html' %}

{% block content %}
<a href="/items/new"> <h3>New Item</h3></a> 
<br />&nbsp;<br />
<div class = "row">  
    {% for item in items %}
        <div class = "card" style="margin:5vw">
            <div class="images" style="display: flex; flex-direction: row">
                {% for img in item.images %}
                    <img height="100px" width="70px" src="{{ img }}">
                {% endfor %}
            </div>
            <h2><a href='/items/{{ item._id }}'>{{ item.display_name }}</a></h2>
            <small style="align-self: right">${{ item.price }}</small>
        </div>
    {% endfor %}
</div>

{% endblock %}